<ion-content [fullscreen]="true" class="ion-padding">


    <ion-img src="assets/img/logo.png"></ion-img>
    <ion-text>
        <h1>Bienvenido</h1>
        <p> Para comenzar, inicia sesión <br> en tu cuenta.</p>
    </ion-text>

    <div class="actions">
        <div class="login-buttons">
            <ion-button routerLink="/register" expand="block">Regístrate</ion-button>
            <ion-button routerLink="/login" expand="block">Iniciar sesión</ion-button>
        </div>
    </div>


</ion-content>